<footer
  class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-[#FAAB78]"
>
  <span class="text-sm text-white sm:text-center dark:text-white"
    >© 2023 <a class="hover:underline">ReportApp™</a>. Todos los derechos
    reservados.
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-white sm:mt-0"
  >
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Sobre Nosotros</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6"
        >Política de Privacidad</a
      >
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">Licencia</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contacto</a>
    </li>
  </ul>
</footer>
