<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      {{ form.hidden_tag() }}
      <!-- debe estar sí o sí-->
      <h1>Registrate</h1>
      <h3>Ingrese su nombre</h3>
      {{ form.name() }}
      <h3>Ingrese su correo electrónico</h3>
      {{ form.email() }}
      <h3>Ingrese su contrasenha</h3>
      {{ form.password() }} {{ form.submit() }}
    </form>
  </body>
</html>
