<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/869dc8f5ef.js"
      crossorigin="anonymous"
    ></script>
    <title>Registro</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form method="POST">
          <h1>Crea tu Cuenta</h1>
          <div class="social-container">
            <a href="#" class="social">
              <i class="fab fa-google" id="black"></i>
            </a>
          </div>
          <span>o usa tu email como registro</span>
          {{ form.hidden_tag() }} {{ form.name(placeholder="Nombre",
          class="my-class") }} {{ form.email(placeholder="Correo electrónico",
          class="my-class") }} {{ form.password(placeholder="Contraseña",
          class="my-class") }} {{ form.submit(id='button') }}
        </form>
      </div>

      <!-- inicio de sesion -->

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>¡Bienvenido!</h1>
            <p>Inicia sesión con tu cuenta</p>
            <button class="ghost" id="signIn">Inicia sesión</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>ReportApp</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- <script>
      const signUpButton = document.getElementById("signUp");
      const signInButton = document.getElementById("signIn");
      const inicio = document.getElementById("button");
      const container = document.getElementById("container");

      console.log(inicio);
      // Evento para abrir form de registro
      signUpButton.addEventListener("click", () =>
        container.classList.add("right-panel-active")
      );

      // Evento para regresar al form de iniciar sesión
      signInButton.addEventListener("click", () =>
        container.classList.remove("right-panel-active")
      );

      // Evento para regresar al form de iniciar sesión
      inicio.addEventListener("click", () =>
        container.classList.remove("right-panel-active")
      );
      // Evento para abrir form de registro
      // inicio.addEventListener("click", () =>
      //   container.classList.add("right-panel-active")
      // );
    </script> -->
  </body>
</html>
