{% extends 'base.html' %} {% block title %} Grafico {% endblock %} {% block
content %}
<body>
  <div
    class="bg-[#FCF9BE] flex flex-col items-center justify-center min-h-screen"
  >
    <div class="flex flex-col">
      <h1
        class="mx-auto max-w-6xl text-gray-400 text-center text-3xl font-bold tracking-tight text-gray-500 sm:text-3xl mt-14"
      >
        Total de reporte del departamento {{datos['ciudad']}}
      </h1>
      <h1>{{ cantidad }}</h1>

      <h1>Total de colegios reportados:</h1>
    </div>
    <div class="flex flex-col items-center justify-center">
      <canvas class="p-10" id="myChart"></canvas>
      <canvas id="pieChart"></canvas>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const grafico = document.getElementById("myChart");
    const grafico2 = document.getElementById("pieChart");

    const datos_json = JSON.parse("{{ datos_grafica }}".replace(/&#34;/g, '"'));

    new Chart(grafico, {
      type: "pie",
      data: {
        labels: ["Rojo", "Amarillo", "Verde"],
        datasets: [
          {
            label: "# of Votes",
            data: datos_json.valores,
            borderWidth: 1,

            backgroundColor: ["red", "yellow", "green"],
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });

    new Chart(grafico2);
  </script>
</body>

{% endblock %}
